# Entorno virtual
venv/
.venv/
env/

# Variables de entorno sensibles
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDEs
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log